@import "theme.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @blue;

  background-color: @base;
}

label {
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 11pt;

  color: @text;
}

image {
  color: @text;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @text;
}
