// Rofi colors for Aline

* {
    font: "JetBrainsMono NF Bold 9";
    background: #eff1f5;
    bg-alt: #e6e9ef;
    background-alt: #e6e9efE0;
    foreground: #4c4f69;
    selected: #1e66f5;
    active: #e64553;
    urgent: #8839ef;

    img-background: url("~/.config/bspwm/rices/clara/rofi.webp", width);
}
