@define-color window_bg_color #24273a;
@define-color accent_bg_color #5b6078;
@define-color theme_fg_color #cad3f5;
@define-color error_bg_color #ed8796;
@define-color error_fg_color #cad3f5;
@define-color border_color #8aadf4;
