@define-color foreground #cad3f5;
@define-color subtext #a5adcb;
@define-color overlay #8087a2;
@define-color background #24273a;
@define-color red #ed8796;
@define-color blue #8aadf4;
@define-color green #a6da95;
@define-color yellow #f5a97f;
