@import "theme.css";

* {
  background-color: @background;
  color: @foreground;
  padding: 0;
  margin: 0;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 12px;
  font-weight: 700;
}

.hidden {
  opacity: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 7px;
  min-width: 9px;
}

#workspaces button.active {
  padding: 0;
}

#workspaces button.active label {
  background-color: @blue;
  color: @background;
  min-width: 25px;
}

#tray,
#network,
#bluetooth,
#pulseaudio,
#battery.bat0,
#battery.bat1 {
  min-width: 12px;
  padding: 0 7.5px;
}

#battery.bat0.warning {
  background-color: @yellow;
  color: @background;
}

#battery.bat0.critical {
  background-color: @red;
  color: @background;
}

#battery.bat0.charging,
#battery.bat1.charging {
  background-color: @green;
  color: @background;
}

tooltip {
  padding: 2px;
  border: 2px solid @overlay;
}

tooltip label {
  color: @subtext;
  font-size: 14px;
  font-weight: normal;
}

#clock {
  margin-left: 8.75px;
}
