@import "theme.css";

* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;

  min-height: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12px;
  font-weight: bold;
  color: @text;
}

window#waybar {
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @base;
}

#custom-os {
  background-image: url("/home/wekauwau/.dotfiles/waybar/.config/waybar/CachyOS_48.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  /* min-width: 25px; */
  /* min-height: 25px; */
  padding: 0 15px;
}

#workspaces button label {
  border-top: 2px solid @surface_2;
  padding: 0 10px;
}

#workspaces button.active label {
  border-color: @red;
  background-color: @red_70;
  color: @red;
}

#battery,
#bluetooth,
#custom-swaync,
#idle_inhibitor,
#power-profiles-daemon,
#privacy,
#pulseaudio.out,
#pulseaudio.in,
#tray {
  border-top: 2px solid @surface_2;
  min-width: 12px;
  padding: 0 8.75px;
  background-color: @base;
}

#idle_inhibitor.activated {
  border-color: @red;
  background-color: @red_70;
  color: @red;
}

#pulseaudio.out {
  border-color: @peach;
  background-color: @peach_70;
  color: @peach;
}

#pulseaudio.out.muted {
  border-color: @surface_2;
  background-color: @base;
}

#pulseaudio.in {
  border-color: @red;
  background-color: @red_70;
  color: @red;
}

#pulseaudio.in.source-muted {
  border-color: @surface_2;
  background-color: @base;
}

#bluetooth {
  color: @blue;
}

#bluetooth.on,
#bluetooth.connected {
  border-color: @blue;
  background-color: @blue_70;
  color: @blue;
}

#battery {
  color: @green;
}

#battery.warning {
  border-color: @yellow;
  background-color: @yellow_70;
  color: @yellow;
}

#battery.critical {
  border-color: @red;
  background-color: @red_70;
  color: @red;
}

#battery.charging {
  border-color: @green;
  background-color: @green_70;
  color: @green;
}

#power-profiles-daemon.balanced {
  border-color: @blue;
  background-color: @blue_70;
  color: @blue;
}

#power-profiles-daemon.power-saver {
  border-color: @green;
  background-color: @green_70;
  color: @green;
}

#power-profiles-daemon.performance {
  border-color: @red;
  background-color: @red_70;
  color: @red;
}

tooltip {
  padding: 2px;
  border: 2px solid @overlay;
}

tooltip label {
  color: @subtext;
  font-size: 14px;
  font-weight: normal;
}

#clock {
  margin: 0 8.75px;
}

#custom-swaync.dnd-none {
  border-color: @mauve;
  background-color: @mauve_70;
  color: @mauve;
}

#custom-swaync.notification {
  border-color: @sky;
  background-color: @sky_70;
  color: @sky;
}

#custom-swaync.dnd-notification {
  border-color: @pink;
  background-color: @pink_70;
  color: @pink;
}

/* has notifications */
/* #custom-swaync:not(.none) { */
/*   color: @red; */
/* } */
/* #tray widget.active > image { */
/*   border-color: @text; */
/* } */
