@define-color window_bg_color #1e1e2e;
@define-color accent_bg_color #585b70;
@define-color theme_fg_color #cdd6f4;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #cdd6f4;
@define-color border_color #89b4fa;
