@define-color foreground #cdd6f4;
@define-color subtext #a6adc8;
@define-color overlay #7f849c;
@define-color background #1e1e2e;
@define-color red #f38ba8;
@define-color blue #89b4fa;
@define-color green #a6e3a1;
@define-color yellow #fab387;
