@define-color foreground #4c4f69;
@define-color subtext #6c6f85;
@define-color overlay #8c8fa1;
@define-color background #eff1f5;
@define-color red #e64553;
@define-color blue #1e66f5;
@define-color green #40a02b;
@define-color yellow #df8e1d;
